InsuranceProgram/InsuranceProgram/Scripts/* linguist-vendored
InsuranceProgram/InsuranceProgram/Scripts/WebForms/* linguist-vendored
InsuranceProgram/InsuranceProgram/Scripts/WebForms/MSAjax/* linguist-vendored
InsuranceProgram/InsuranceProgram/Scripts/* linguist-vendored
InsuranceProgram/packages/* linguist-vendored