body {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family:Calibri;

    background-image:url(../Images/car-bg.jpeg);
    background-repeat:no-repeat;
    background-position-x:top;
    background-size:cover;
    background-color:#14151a;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.entry {
    color:cadetblue;
    margin-right:35%;
    float:right;  
    background-color:white; 
    border-color: #5cb85c;
    border-width:medium;
    border-radius:5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
    align-content:center;
    max-width:500px;
    min-width:30%;
    text-align:center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-family:Calibri;

}

.addDrivers {
    color:white;
    background-color:cadetblue; 
    border:thin; 
    border-color:dimgray;
    border-radius:5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
    align-content:center;
    max-width:500px;
    float:right;
    margin-right:10%;
    clear:left;
    
}

.col1 {
    color:cadetblue;
    margin-left:5%;
    float:left;
    background-color:white; 
    border-color: #5cb85c;
    border-width:medium;
    border-radius:5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
    align-content:center;
    max-width:200px;
    min-width:15%;
    text-align:center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-family:Calibri;
    
}


.input {
    border-radius:5px 5px 5px 5px;
    margin:5px 2px 12px 10px;
}

.labels {
     margin: 5px 0px 5px 0px;
     padding-top:5px;
}

.claims {
    width:100%;
}

h1 {

    text-align: center;
    font-family:Calibri;
    font-style:normal;
    border-color:white;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

.instruction {
    font-size:18px;
    font-family:Calibri;
    color:cadetblue;
}

.decline {
    font-family:Calibri;
    color:red;
}

.driverbtn  {
    border-radius: 8px;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin-left:5px;
    margin-right:5px;
    float:left;
 
}

.buttonDiv {
    width:100%;
    clear:both;
    background:red;
    
    margin: 0% 50% 0% 50%;

}

.submitbtn  {
    border-radius: 8px;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0% 35% 0% 35%;
    min-width:130px;
    width:130px;
}

.cancelbtn  {
    border-radius: 8px;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0% 10% 0% 10%;
    min-width:130px;
    width:130px;
}

.claimb  {
    border-radius: 8px;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0% 35% 1% 35%;
    min-width:130px;
    width:130px;
}

.claimpanelbtns  {
    border-radius: 8px;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 3px 3px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0% 2% 0% 2%;
    min-width:130px;
    width:130px;
    float:left;
}

.savedDetails {
    color:black;
    margin-bottom:5px;
}

